@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Add Role";
}

<table class="table">
    <tr>
        <td colspan="2">
            <h2> Create User Roles</h2>
        </td>
    </tr>

    <tr>
        <td>
            <table>
                @foreach (var item in Model)
                {
                    <tr><td>@item.Name</td></tr>
                }
            </table>
        </td>
        <td>
            <h3>@Html.ActionLink("Click to Create New Role", "Create", "Role", new { @class = "btn btn-block btn-primary" }) </h3>
        </td>
    </tr>
</table> 